.manage-container {
  display: flex;
  height: 91vh;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}

.letter-container {
  margin-left: 25%;
  padding: 30px;
  font-size: 25px;
}

.btn2,
.btn3,
.btn4,
.btn5 {
  background-color: rgb(154, 89, 181);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px 10px;
  position: relative;
  margin-left: 10px;
}

.btn3 {
  background-color: rgb(241, 196, 15);
}

.btn4 {
  background-color: rgb(242, 156, 17);
}

.btn5 {
  background-color: rgb(18, 163, 134);
}
.purple {
  color: rgb(154, 89, 181);
}

.yellow {
  color: rgb(241, 196, 15);
}

.orange {
  color: rgb(242, 156, 17);
}

.green {
  color: rgb(18, 163, 134);
}
