.topbar {
  /* device-width */
  background-color: rgb(39, 50, 56);
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0;
  /* front most */
}

.topbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.bi-person-circle {
  color: white;
  font-size: 1.9rem;
}

.logo {
  width: 20%;
}

img {
  height: 64px;
}

.topm-container {
  padding-right: 10px;
  align-self: start;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  height: 100%;
}

.topm-container {
  padding-right: 10px;
  align-self: start;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  height: 100%;
}

.topm-item {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.topm-letter {
  padding-left: 10px;
  color: #fff;
  font-size: 1.25rem;
}

.topm-item:hover {
  background-color: rgb(77, 98, 109);
  transition: 0.3s ease-out;
}

.topm-current {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: rgb(77, 98, 109);
}
