<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Enter Invite Token</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>        
        <div class="token">
            <h1>Enter your invite token</h1>
            <form action="{{url_for('registration')}}" method="get">
                <label for="token">
                    <i class="fas fa-user"></i>
                </label>

                <input type="text" name="token" placeholder="token" id="token" required>
                <div class="msg">{{ msg }}</div>
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>