body {
  text-align: center;
  
}
.ScheduleContent{
  margin-top: 7%;
}

.pagination-wrapper {
  overflow-x:auto;
  /* margin-left: 40%; */
}

.pagination {
  justify-content: center;
  margin:30px;

}

.data-slice {
  margin-top: 15px;
}