.card-plain {
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 6%;
}
.MessageTitle {
  text-align: center;
}
.WarningBox {
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
}
.WarningUnread {
  text-align: center;
}

/*.image {
  max-width: 50px;
  max-height: 40px;
  width: auto;
  height: auto;
  border-radius: 100%;
}*/

.image2 {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
}

.contentbody {
  margin-left: 10%;
  margin-right: 20%;
}
