.TitleofHome{
  text-align: left;
  margin-left: 3%;
  margin-top: 8%;
  font-weight: bold;
}
.Background{
  margin-top: 5%;
 
}
.subtitle{
  text-align: left;
  margin-left: 3%;
}
.prosTitle{
  text-align: left;
  margin-left: 3%;
  margin-top: 3%;
}
.subpros{
  text-align: left;
  margin-left: 3%;
  color: rgb(10, 133, 92);
}
.getStart{
  text-align: left;
  margin-left: 3%;
}
.HomeImg{
  margin-top: -10%;
}