/* .ongoing-project {
  overflow-y: scroll;
  overflow-x: hidden;
} */

/*color: rgb(173, 253, 183) start;
  color: rgb(255, 187, 184) end;
  color: rgb(203, 245, 255) form*/
.start-color,
.finish-color,
.end-color,
.form-color {
  font-weight: bold;
  border-radius: 4px;
  color: rgb(85, 85, 85);
}

.start-color {
  background-color: rgb(173, 253, 183);
}

.finish-color {
  background-color: rgb(226, 226, 226);
}

.end-color {
  background-color: rgb(255, 195, 184);
}

.form-color {
  background-color: rgb(203, 245, 255);
}

.card-list {
  font-size: 16px;
  list-style: none;
}

.card-list span {
  font-weight: bold;
}
.card-list i {
  position: relative;
  top: 1.5px;
}

.modal-card .card-title {
  font-weight: bold;
}

.modal-container {
  display: flex;
  flex-direction: row;
}

.modal-card {
  flex-grow: 1;
}

.modal-card .card-category {
  font-size: 20px;
}

.modal-header {
  font-weight: bold;
  font-size: 20px;
}

.modal-header span {
  font-weight: bold;
  font-size: 30px;
}

.content {
  margin-left: 0px;
  margin-right: 0px;
}

.form-history i {
  position: relative;
  top: 5px;
  font-size: 30px;
}
.calendar i {
  position: relative;
  top: 3px;
}

.ongoing-project i {
  position: relative;
  top: 2px;
}
.recieved-history i {
  position: relative;
  top: 5px;
}

/*.home-container .card-category {
  position: relative;
  left: 10px;
}*/

.recieved-history .card-category {
  position: relative;
  left: 0px;
}

.home-container {
  position: relative;
  top: 33.5px;
}

.list-element {
  list-style: none;
  padding-left: 0px;
}
.name {
  font-weight: bold;
  color: gray;
}

.link-btn,
.link-btn2 {
  background-color: white;
  border: 0;
  text-decoration: underline;
  font-weight: bold;
}
.link-btn2 {
  color: rgb(0, 204, 204);
}
.link-btn:hover {
  color: rgb(78, 78, 78);
}
.link-btn2:hover {
  color: rgb(101, 221, 221);
}

.ft-container {
  padding: 12px 0px;
}
